<!-- filepath: c:\Projetos\ruby\TODO List em ruby\app\views\tasks\index.html.erb -->
 <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<h1>Welcome to Task Manager!</h1>
<p>Manage your tasks simply and efficiently.</p>

<p>
  <a href="<%= new_task_path %>" class="btn btn-primary">Add new task</a>
</p>

<h2>Next Tasks</h2>
<ul>
  <% @recent_tasks&.each do |task| %>
    <li>
    <%= link_to task.title, task %>
    - Due date: <%= task.due_date.strftime("%d/%m/%Y") if task.due_date %>
    </li>
  <% end %>
</ul>
<h2>Concluded tasks</h2>
<ul>
  <% @recent_concluded_tasks&.each do |task| %>
    <li>
    <%= link_to task.title, task, class: ('concluded' if task.completed?) %>
    - Due date: <%= task.due_date.strftime("%d/%m/%Y") if task.due_date %>
    </li>
  <% end %>
</ul>

<%= button_to "Logout", logout_path, data: { "turbo-method": :delete, confirm: "Are you sure you want to log out?" } %>